<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('partial/_head.html.twig') }}
    <title>Error</title>
</head>
<body>
<main>
    <section>
        <h3>Franchement, déchirer une page web, c'est pas sérieux !</h3>
        <img alt="Page d'erreur" src="/public/images/error_code.jpg">
        <h3>Détail de l'erreur : </h3>
        <p>
            <strong>Message : </strong>
            {{ message }}
            <br>
            <strong>Fichier : </strong>
            {{ file }}
            <br>
            <strong>Ligne : </strong>
            {{ line }}
        <hr>
        <a href="/">Retour à l'Accueil</a>
        </p>
    </section>
</main>
<footer>
    {{ include('partial/_footer.html.twig') }}
</footer>
</body>
</html>
