{% extends "template/base.html.twig" %}
{% block title %}
    {{ post['title'] }}
{% endblock %}
{% block content %}
    <section class="article">
        <h2>{{ article['title'] }}</h2>
        <strong>{{ article['creation_date'] }}</strong>
        <p>
            {{ article['content'] }}
        </p>
    </section>
    <section class="comment">
        {% for comment in comments %}
            <strong>{{ comment['author'] }}</strong>
            <br>
            <em>{{ comment['comment_date'] }}</em>
            <p>{{ comment['comment'] }}</p>
        {% endfor %}
    </section>
    <section class="link">
        <a href="/article">Retour à la liste des billets</a>
    </section>
    <section class="link">
        <a href="commentForm?articleId={{ post['id'] }}">Ajouter un nouveau commentaire</a>
    </section>
{% endblock %}
