{% extends "back/admin/layoutAdmin.html.twig" %}
{% block content %}
    <h3 class="mb-5 text-uppercase">
        <span class="far fa-newspaper"></span>
        liste des articles du blog :
    </h3>
    {% if status == true %}
        <div class="alert alert-{{ status }}">{{ statusMessage }}</div>
    {% endif %}
    <div class=" p-3 table-responsive rounded bg-blue shadow">
        <table class="h5 table mb-0">
            <thead class="text-secondary">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Auteur</th>
                <th scope="col">Titre</th>
                <th scope="col">Châpo</th>
                <th scope="col">Contenu</th>
                <th scope="col">Dates</th>
                <th scope="col">Modération</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <th scope="row">{{ article.id }}</th>
                    <td class="bg-light text-info font-weight-bold">{{ article.author }}</td>
                    <td class="bg-light text-secondary font-weight-bold">{{ article.title }}</td>
                    <td class="bg-light text-secondary">{{ article.hat }}</td>
                    <td class="bg-light text-dark">{{ article.content }}</td>
                    <td class="h6 bg-light text-dark font-italic">
                        <strong>Créé le :</strong>{{ article.createdAt|date("m/d/Y à H:m:s") }}
                        <br>
                        <strong>Mis à jour le :</strong>{{ article.updatedAt|date("m/d/Y à H:m:s") }}
                    </td>
                    <td>
                        <div class="row d-flex p-2 my-2 mx-auto">
                            <a href="/article/see?articleId={{ article.id }}"
                               class="p-2 btn btn-primary">
                                <span class="far fa-eye"></span>
                                Voir l'article
                            </a>
                            <a href="/Admin/articleAdmin/edit?articleId={{ article.id }}"
                               class="p-2 btn btn-info">
                                <span class="fas fa-edit"></span>
                                Éditer
                            </a>
                            <a href="/Admin/articleAdmin/delete?articleId={{ article.id }}"
                               class="p-2 btn btn-danger">
                                <span class="fas fa-trash-alt"></span>
                                Supprimer
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-3 mt-4 mx-auto w-50 border-top border-bottom border-info">
        <a href="/Admin/articleAdmin/add" class="p-2 btn btn-primary">
            <span class="fas fa-feather-alt"></span>
            Ecrire un article
        </a>
    </div>
{% endblock %}
