{% extends "back/layoutBack.html.twig" %}
{% block content %}
    <section class="form">
        <h2>Mon profil :</h2>
        <em>
            Date de création du compte : {{ user.createdAt }}<br>
            Dernière mise à jour : {{ user.updatedAt }}
        </em>
        <br>
        <h4>Salutation {{ user.login }} !</h4>
        <div>
            <a href="/Admin/userAdmin/edit?userId={{ user.id }}">Éditer</a>
            <a href="/Admin/userAdmin/delete?userId={{ user.id }}">Supprimer</a>
        </div>
    </section>
    <section class="link">
        <a href="/home">Retour à l'accueil</a>
    </section>
{% endblock %}
