{% extends "back/layoutBack.html.twig" %}
{% block content %}
    <h2>Mon profil :</h2>
    <div class="container">
        <h4>Salutation {{ user.login }} !</h4>
        <div class="form-group">
            Date de création du compte : {{ user.createdAt }}
        </div>
        <div class="form-group">
            Dernière mise à jour : {{ user.updatedAt }}
        </div>
        <div class="form-group">
            mon adresse mail : {{ user.mail }}
        </div>
    </div>
    <div class="link">
        <a href="/Admin/userAdmin/edit?userId={{ user.id }}">Éditer</a>
        <a href="/Admin/userAdmin/delete?userId={{ user.id }}">Supprimer</a>
    </div>
    <div class="link">
        <a href="/home">
            <span class="fas fa-angle-double-left"></span>
            Retour à l'accueil</a>
    </div>
{% endblock %}
