{% extends "back/layoutBack.html.twig" %}
{% block content %}
    <h2>
        <span class="far fa-newspaper"></span>
        Derniers billets du blog :
    </h2>
    {% for article in articles %}
        <article class="p-3 mt-4 rounded">
            <h3>{{ article.title }}</h3>
            <article class="p-2 mt-3 text-secondary font-italic">
                <span class="font-weight-bold">Créer le : </span>{{ article.createdAt }}<br>
                <span class="font-weight-bold">Dernière mise à jour : </span>{{ article.updatedAt }}
            </article>
            <article class="p-2 mt-3 bg-light text-dark font-weight-bold rounded-pill">
                <p class="mb-0">
                    {{ article.hat }}
                </p>
            </article>
            <div class="p-2 my-4 mx-auto w-50 border-right-0 border-left-0 border border-primary">
                <a href="/article/see?articleId={{ article.id }}">
                    Voir l'article
                    <span class="fas fa-angle-double-right"></span>
                </a>
            </div>
        </article>
        <br>
    {% endfor %}
    <div class="p-2 my-4 mx-auto w-50 border-right-0 border-left-0 border border-secondary">
        <a href="/article/add">
            <span class="fas fa-plus-circle"></span>
            Ajouter un nouvel article
        </a>
    </div>
{% endblock %}
