{% extends "back/layoutBack.html.twig" %}
{% block content %}
    <h2>{{ title }}</h2>
    {% for article in articles %}
        <article class="blog">
            <h3>{{ article.title }}</h3>
            <em>
                Créer le : {{ article.createdAt }}<br>
                Dernière mise à jour : {{ article.updatedAt }}
            </em>
            <article class="hat">
                <p>
                    {{ article.hat }}
                </p>
            </article>
            <div class="link">
                <a href="/article/see?articleId={{ article.id }}">
                    Voir l'article
                    <span class="fas fa-angle-double-right"></span>
                </a>
            </div>
        </article>
        <br>
    {% endfor %}
    <section class="link">
        <a href="/article/add">Ajouter un nouvel article</a>
    </section>
{% endblock %}
