{% extends "back/layoutBack.html.twig" %}
{% block content %}
    <article>
        <h2>{{ title }}</h2>
        <h4>{{ article.author }}</h4>
        <em>
            Créer le : {{ article.createdAt }}<br>
            Dernière mise à jour : {{ article.updatedAt }}
        </em>
        <article class="hat">
            {{ article.hat }}
        </article>
        <article class="content">
            {{ article.content }}
        </article>
    </article>
    <div>
        <a href="/article/edit?articleId={{ article.id }}">Éditer</a>
        <a href="/article/delete?articleId={{ article.id }}">Supprimer</a>
    </div>
    <hr>
    {% if comments %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            <span class="fas fa-angle-double-down"></span>
                            Voir les commentaires
                            <span class="fas fa-angle-double-down"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% for comment in comments %}
                            <strong>{{ comment.author }}</strong>
                            <br>
                            <em>
                                Créer le : {{ comment.createdAt }}<br>
                                Dernière mise à jour : {{ comment.updatedAt }}
                            </em>
                            <article class="content">{{ comment.content }}</article>
                            <div>
                                <a href="/comment/see?commentId={{ comment.id }}">Voir le commentaire</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <section class="link">
        <a href="/comment/add?articleId={{ article.id }}">Ajouter un nouveau commetaire</a>
    </section>
    <section class="link">
        <a href="/article">Retour à la liste des billets</a>
    </section>
{% endblock %}
