{% extends "base.html.twig" %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    {{ dump(article) }}
    <section class="article">
        <h2>{{ article.title }}</h2>
        <strong>{{ article.creation_date }}</strong>
        <p>
            {{ article.content }}
        </p>
        <div>
            <a href="/article/edit?articleId={{ article.post_id }}">Éditer</a>
            <a href="/article/delete?articleId={{ article.post_id }}">Supprimer</a>
        </div>
    </section>
    <section class="comment">
        <h3>Commentaires :</h3>
        {% for comment in comments %}
            <strong>{{ comment.author }}</strong>
            <br>
            <em>{{ comment.comment_date }}</em>
            <p>{{ comment.content }}</p>
            <div>
                <a href="/comment/see?commentId={{ comment.id }}">Voir le commentaire</a>
            </div>
        {% endfor %}
    </section>
    <section class="link">
        <a href="/comment/add?articleId={{ article.post_id }}">Ajouter un nouveau commetaire</a>
    </section>
    <section class="link">
        <a href="/article">Retour à la liste des billets</a>
    </section>
{% endblock %}
