{% extends "layout.html.twig" %}
{% block nav %}
    {{ include('partial/_navAdmin.html.twig') }}
{% endblock %}
{% block content %}
    <h4>{{ comment.author }}</h4>
    <section class="comment">
        <em>
            Créer le : {{ comment.createdAt }}<br>
            Dernière mise à jour : {{ comment.updatedAt }}
        </em>
        <p>
            {{ comment.content }}
        </p>
        <div>
            <a href="edit?commentId={{ comment.id }}">Éditer</a>
            <a href="delete?commentId={{ comment.id }}">Supprimer</a>
        </div>
        <div class="link">
            <a href="/article">Retour à la liste des billets</a>
        </div>
    </section>
{% endblock %}

