<h2 class="mb-5 text-uppercase">
    <span class="far fa-newspaper"></span>
    Derniers billets du blog :
</h2>
<div class="container mx-auto">
    <div class="row">
        {% for article in articles %}
            <div class="card col-md p-0 my-3 mx-2">
                <div class="card-header">
                    <h4 class="card-title text-uppercase">{{ article.title }}</h4>
                </div>
                <div class="card-body bg-blue">
                    <h5 class="card-subtitle mb-2 text-muted">{{ article.hat }}</h5>
                </div>
                <div class="card-footer text-muted">
                    <a href="/{{ page }}/see?articleId={{ article.id }}" class="p-2 btn btn-primary">
                        Voir l'article
                        <span class="fas fa-angle-double-right"></span>
                    </a>
                    <br>
                    <span class="font-weight-bold">Dernière modification le :</span>
                    {{ article.updatedAt|date("d/m/Y") }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
